html
  font-size 16px
  +tablet()
    font-size 15px
  +mobile()
    font-size 14px

body
  opensans 16
  color $text
  padding-top 110px
  +below($tablet)
    padding-top 150px

a
  text-decoration none
  color inherit
  transition color .3s

p
  line-height 1.5

section
  padding $rem(80) 0
  +mobile()
    padding 40px 0

h2
  montserrat 32 light
  color $green
  margin 0 0 1.8em
  text-transform uppercase
  text-align center
  +mobile()
    font-size 24px
