desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$green = #76C04E
$bg    = #E2E8DF
$gray  = #606062
$text  = #444444

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:400,700&display=swap')

montserrat($size, $weight = normal, $style = normal)
  font-size $rem($size)
  font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
  font-weight 400
  font-style $style
  if $weight == light
    font-weight 300
  if $weight == semi
    font-weight 500
  if $weight == bold
    font-weight 700

opensans($size, $weight = normal, $style = normal)
  font-size $rem($size)
  font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
  font-weight 400
  font-style $style
  if $weight == bold
    font-weight 700
