section#contact
  background $bg
  padding-bottom $rem(20)
  .info
    display flex
    align-items center
    justify-content center
    color $text
    +below(1000px)
      display block
      > *
        display block
        &.email
          margin 1em 0 !important
    .phone
    .email
    .address
      opensans 18 bold
      padding-left 30px
      min-height 20px
    .phone
      background $img('contact-voice.svg') no-repeat left center
    .email
      background $img('contact-email.svg') no-repeat left center
    .address
      background $img('contact-location.svg') no-repeat left center
    .address
      opensans 16
    .email
      margin 0 2.5em
      &:hover
        color $green
  .map
    width 100%
    margin $rem(25) 0 $rem(40)
    iframe
      display block
      width 100%
      height 60vw
      max-height $rem(580)
  .copyright
    border-top 1px solid rgba($gray, .25)
    padding-top $rem(20)
    text-align center
    p
      margin 0
      opensans 10
      font-size 10px
      color $gray

