section#embedded-electronics-systems
  padding-bottom 0
  .wrapper
    display grid
    grid-template-columns 1.8fr 1fr
    grid-gap 50px
    align-items start
    +tablet()
      grid-template-columns 1fr 1fr
    +mobile()
      grid-template-columns 1fr
      grid-gap 10px
    .grid
      display grid
      grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
      +tablet()
        grid-template-columns repeat(auto-fill, minmax(150px, 1fr))
      +mobile()
        grid-template-columns repeat(auto-fill, minmax(100px, 1fr))
      img
        width 100%
        display block
    .text
      color $gray
      h3
        opensans 20
        margin 1em 0 1.5em
      ul
        margin 0
        padding 0
        list-style none
        li
          position relative
          padding-left 1.1em
          opensans 16
          + li
            margin-top .55em
          span
            position absolute
            left 0
            color $green
            font-weight bold

div#ees-details
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 1px
  margin-top $rem(60)
  > div
    background $green
    &:nth-child(odd) div
      margin-left auto
    div
      max-width 600px
      padding $rem(35)
    h3
      montserrat 22 bold
      color #fff
      margin 0 0 .5em
    ul
      margin 0
      padding 0
      list-style none
      li
        position relative
        padding-left 24px
        opensans 16
        color #fff
        background $img('setinha-services.svg') no-repeat left 3px
        background-size 15px auto
        + li
          margin-top .6em
  +mobile()
    grid-template-columns 1fr
    > div div
      padding $rem(30) 5%
      margin-left 0 !important
