header
  position fixed
  width 100%
  height 110px
  top 0
  background #fff
  box-shadow 0 2px 12px rgba(#000, .1)
  z-index 2
  +below($tablet)
    height 150px
  .center
    height 100%
    display flex
    align-items center
    justify-content space-between
  .logo
    width 275px
    height 100%
    background $img('marca-edcgroup-us.svg') no-repeat center
    background-size 100% auto
    text-indent -9999px
    +below(560px)
      width 200px
  nav
    display flex
    a
      montserrat 14 semi
      text-transform uppercase
      color $gray
      + a
        margin-left 3em
      &:hover
      &.active
        color $green
    +below($tablet)
      flex-direction column
      align-items flex-end
      a
        text-align right
        + a
          margin .4em 0 0
    +mobile()
      max-width 120px
      flex-shrink 0
