section#our-company
  padding-top 0
  .banner
    width 100%
    max-width 1640px
    margin 0 auto
    height 440px
    background $img('img-banner-principal.jpg') no-repeat center
    background-size cover
    .center
      height 100%
    &-content
      max-width 440px
      height 100%
      display grid
      grid-template-columns 1fr 1fr
      grid-template-rows 1fr 1fr
      div
        grid-column 2 / 3
        align-self stretch
        background rgba(darken($green, 5), .95)
        padding 1.5em 1.5em 0
        montserrat 22 bold
        line-height 1.5
        color #fff
      img
        grid-column 1 / -1
    +mobile()
      background none
      height auto
      .center
        width 100%
      &-content
        grid-template-columns 1fr
        grid-template-rows auto
        max-width unset
        div
        img
          grid-column unset
          width 100%
        div
          padding 1.5em 5%
  .wrapper
    width 100%
    max-width $rem(660)
    margin-left 440px
    +below($tablet)
      margin 0 auto
    +mobile()
      max-width unset
    .box
      display grid
      grid-template-columns 220px 1fr
      margin-bottom $rem(40)
      +mobile()
        grid-template-columns 1fr
        margin-bottom 20px
        img
          display none
      div
        display flex
        align-items center
        padding 1.5em
        background $gray
        +mobile()
          padding 1.5em 5%
        p
          opensans 18
          margin 0
          color #fff
          line-height 2
    .text
      p
        margin 0
        + p
          margin-top 1em
  +mobile()
    .banner + .center
      width 100%
    .text
      padding 0 5%
