section#our-clients
  .grid
    display flex
    flex-wrap wrap
    align-items center
    justify-content center
    img
      width 200px
      height 116px
      object-fit scale-down
      +mobile()
        width 160px
        height 100px
