section#profile
  background $bg
  .grid
    display grid
    grid-template-columns repeat(auto-fit, minmax(175px, 1fr))
    grid-gap 30px
    div
      display grid
      grid-template-rows 110px auto
      img
        max-width 100px
        margin 0 auto
        display block
      p
        montserrat 18 semi
        text-align center
        padding 0 1em
      +mobile()
        p
          font-size 15px

